@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 400;
}

header {
  line-height: 24px;
  height: 70px;
  margin-bottom: 0;
}

nav {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: #1b1a1a;
}

header .logo {
  margin-right: 565px;
}

header .btn {
  color: white;
  background: #1b1a1a;
  border-radius: 14px;
  padding: 15px 30px;
}

#hero_container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #ece7e4;
}

#hero_info {
  flex: 50%;
  margin-left: 100px;
  margin-top: 200px;
  margin-right: 200px;
}

#hero_container #hero_info h2 {
  color: #645c55;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
}

#hero_container #hero_info h1 {
  color: #1b1a1a;
  line-height: 70.4px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2em;
}

#hero_container #hero_info p {
  margin-top: 20px;
  padding-right: 150px;
  color: #403e3b;
  line-height: 24px;
  font-weight: 300;
  font-size: 16px;
}

#hero_container #hero_info .btn {
  margin-top: 30px;
  color: #1b1a1a;
  line-height: 24px;
  background: none;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
}

#hero_container #hero_info .btn:hover {
  padding: 15px 30px;
  background: #1b1a1a;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  border-radius: 14px;
  text-decoration: none;
}

#hero_container img {
  flex: 50%;
}

#firm_container #firm_info {
  display: flex;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}

#firm_container #firm_info #firm_logo {
  flex: 27%;
}

#firm_container #firm_info #firm_logo h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403e3b;
}

#firm_container #firm_info #firm_content {
  flex: 50%;
  margin-right: 125px;
}

#firm_container #firm_info #firm_content p.firm_text {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #403e3b;
}

#programmer_name {
  color: #1b1a1a;
  line-height: 26px;
  font-weight: regular;
  font-size: 17px;
}

#programmer_stack {
  color: #645c55;
  line-height: 14px;
  font-weight: regular;
  font-size: 14px;
}

#firm_container #firm_info #firm_content img {
  float: left;
  margin-right: 25px;
}

#reeding_house_container {
  background-image: url("../img/Reeding House.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#reeding_house_text {
  padding-left: 80%;
  padding-right: 5%;
  padding-top: 20%;
}

#reeding_house_text h1 {
  color: #403e3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

#reeding_house_text p {
  color: #645c55;
  line-height: 24px;
  font-weight: regular;
  font-size: 16px;
}

#our_process_container #our_process_content {
  text-align: center;

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

#our_process_container #our_process_content h2 {
  margin-bottom: 13px;

  color: #645c55;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

#our_process_container #our_process_content h1 {
  color: #1b1a1a;
  line-height: 42px;
  font-weight: 400;
  font-size: 39px;
  margin-bottom: 40px;
}

#our_process_container #our_process_content #our_process_steps_container {
  display: flex;
}

#our_process_container
  #our_process_content
  #our_process_steps_container
  #sketching {
  width: 380px;
}

#our_process_container
  #our_process_content
  #our_process_steps_container
  #finalizing {
  width: 380px;
}

#our_process_container
  #our_process_content
  #our_process_steps_container
  #building {
  width: 380px;
}

#our_process_container #our_process_content #our_process_steps_container div {
  margin-right: 50px;
}

#our_process_container
  #our_process_content
  #our_process_steps_container
  div:last-of-type {
  margin-right: 0%;
}

#our_process_container #our_process_content #our_process_steps_container h1 {
  line-height: 26px;
  font-weight: regular;
  font-size: 17px;
  margin-bottom: 15px;
}

#our_process_container #our_process_content #our_process_steps_container p {
  color: #645c55;
  line-height: 24px;
  font-weight: regular;
  font-size: 16px;
}

#the_marble_container {
  background-image: url("../img/Stairs 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#the_marble_text {
  padding-left: 80%;
  padding-right: 5%;
  padding-top: 20%;
}

#the_marble_text h1 {
  color: #403e3b;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
}

#the_marble_text p {
  color: #645c55;
  line-height: 24px;
  font-weight: regular;
  font-size: 16px;
}

#prior_clients_container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #403e3b;
}

#prior_clients_container #prior_clients_content {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

#prior_clients_container #prior_clients_content #prior_clients_text {
  flex: 50%;
  padding-top: 65px;
  margin-right: 136px;
}

#prior_clients_container #prior_clients_content #prior_clients_text h2 {
  color: #ece7e4;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 14px;
}

#prior_clients_container #prior_clients_content #prior_clients_text h1 {
  color: #ffffff;
  line-height: 38px;
  font-weight: 400;
  font-size: 32px;
}

#prior_clients_container #prior_clients_content #prior_clients_text p {
  color: #ece7e4;
  line-height: 24px;
  font-weight: 300;
  font-size: 15px;
}

#prior_clients_container #prior_clients_content #prior_clients_imgs {
  flex: 50%;
}

#prior_clients_container #prior_clients_content #prior_clients_imgs img {
  margin-right: 100px;
  margin-bottom: 100px;
}

#swirling_staircase_container {
  background-image: url("../img/Stairs 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#swirling_staircase_text {
  padding-right: 80%;
  padding-left: 5%;
  padding-top: 20%;
}

#swirling_staircase_text h1 {
  color: #403e3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

#swirling_staircase_text p {
  color: #645c55;
  line-height: 24px;
  font-weight: regular;
  font-size: 16px;
}

#test {
  height: 100vh;
}
